.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--hero {
    padding: 17px 34px;
  }

  &--swiper {
    padding: 15px 12px;

  }

  &:disabled {
    background-color: $color-btn-disable;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
