.tours__swiper {
  padding-top: 123px;
  padding-bottom: 140px;
}

.tours__title {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;

  &::before {
    content: "Ближайшие туры";
    position: absolute;
    top: 105px;
    left: 0;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: $color-elephant-opacity-03;
    overflow: hidden;
    white-space: nowrap;
  }
}

.tours__buttons {
  position: absolute;
  right: 0;
  top: 120px;
}

.tours__cards-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding-bottom: 63px;
}

.tours__card {
  padding: 30px 20px;
  max-width: 380px;
  min-height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.tours__card-data {
  padding-left: 0;
  list-style: none;
  display: flex;
  color: $color-default-white;
  column-gap: 14px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;


}

.tours__card-data-item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: auto;
    background-color: $color-navy-blue-header-background;
  }
}

.tours__card-title {
  color: $color-default-white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.tours__card-description {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.tours__card-description-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;
  color: $color-default-white;
}

.tours__card-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.tours__card-image img {
  height: 100%;
}

.tours__card-description-item-date {
  padding-bottom: 7px;
}

.tours__card-description-item-group {
  padding-bottom: 7px;
}

.tours__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  color: $color-elephant-tour-link;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
